@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-hevaria), sans-serif;
  scrollbar-width: none;
}

:root {
  --shine-gradient-start: currentColor;
  --shine-gradient-middle: rgba(255, 255, 255, 0.8);
  --shine-gradient-end: currentColor;
  --background: 0 0% 98%;
  --foreground: 215 28% 17%;
}

html.dark {
  --shine-gradient-start: currentColor;
  --shine-gradient-middle: rgba(255, 255, 255, 0.1);
  --shine-gradient-end: currentColor;
  --background: 0 0% 12%;
  --foreground: 67 100% 98%;
}

.bg-gradient {
  background: linear-gradient(135deg, #fca5a5 0%, #db2777 50%, #fde047 100%);
  background-size: 200% 200%;
}

.dark .bg-gradient {
  background: linear-gradient(135deg, #52525b 0%, #0369a1 50%, #1e293b 100%);
  background-size: 200% 200%;
}

.text-gradient {
  background: linear-gradient(135deg, #fca5a5 0%, #db2777 50%, #fde047 100%);
  background-clip: text;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .text-gradient {
  background: linear-gradient(135deg, #52525b 0%, #0369a1 50%, #1e293b 100%);
  background-clip: text;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.dark .glass {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
